/* -----------------------------------
general
----------------------------------- */

body
{
	margin: 0px;
	padding: 0px;
	font: 100%/1.4 helvetica, arial, sans-serif;
	color: #444;
	background: #fff;
}

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 1em;
	line-height: 1.1;
}

h2, h3 { color: #003d5d; }
h2 { font-size: 218.75%; }


p 
{
margin-top: 35pt;
margin-right: 0pt;
margin-bottom: -25px;
margin-left: 0pt;
text-indent: 25px; 
}

img { border: none; }
a:link { color: #035389; }
a:visited { color: #09619C; }

/* -----------------------------------
Play Hide the tab
----------------------------------- */

div.items p:not(:target) {display: none}
div.items p:target {display: block}


/* -----------------------------------
layout
----------------------------------- */

#container
{
	margin: 0 0px;
	background: #fff;
}

#header
{
	background: #fff;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover 
{
	background-color: #3366cc;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: 0% 0%;
}

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}