	</fields>
	<custom_php_install_command>
		dansguardian_php_install_command();
	</custom_php_install_command>
	<custom_php_deinstall_command>
		dansguardian_php_deinstall_command();
	</custom_php_deinstall_command>
	<custom_php_validation_command>
		dansguardian_validate_input($_POST, &amp;$input_errors);
	</custom_php_validation_command>	
	<custom_php_resync_config_command>
		sync_package_dansguardian();
	</custom_php_resync_config_command>
</packagegui>
