.qrowEven {
	background-color: #DDDDDD;
	padding-right: 20px;
	padding-left: 8px;
	border-bottom: 1px solid #999999;
}
.qrowOdd {
	background-color: #FFFFFF;
	padding-right: 20px;
	padding-left: 8px;
	border-bottom: 1px solid #999999;
}
.qrowAlert {
	background-color: yellow;
	padding-right: 20px;
	padding-left: 8px;
	border-bottom: 1px solid #999999;
}
.qrowHighlight {
	background-color: white;
  font-weight: bold;
	padding-right: 20px;
	padding-left: 8px;
	border-bottom: 1px solid #999999;
}
.qrowDivider {
	padding-right: 20px;
	padding-left: 8px;
	border-left: 1px solid black;
	border-bottom: 1px solid #999999;
}

.innocent {color: limegreen; background-color: green;}
.whitelisted {color: magenta; background-color: purple;}
.spam {color: red; background-color: darkred;}
.false {color: white; font-weight: bold; background-color: green;}
.missed {color: white; font-weight: bold; background-color: darkred;}
.inoculation {color: dodgerblue; background-color: darkblue;}
.corpus {color: black; background-color: white;}
.relay {color: white; background-color: #994400;}
.low {color: darkblue; font-weight: bold;}
.medium {color: steelblue; font-weight: bold;}
.high {color: darkorange; font-weight: bold;}

.small { font-size: 9px;}
.hollow { border: 0px; }

.qnavtd {
  border: 1px solid #CCCCCC;
}
.qnavtdl {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}
.qnavtdr {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}
.qnavbtnhl {
  font-size: 9px !important;
  border-right: 1px solid #FF7F7F;
  border-bottom: 1px solid #FF7F7F;
  border-left: 1px solid #5F0000;
  border-top: 1px solid #5F0000;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #FF7F7F;
}
.qnavbtn {
  font-size: 9px !important;
  border-right: 1px solid #FF7F7F;
  border-bottom: 1px solid #FF7F7F;
  border-left: 1px solid #5F0000;
  border-top: 1px solid #5F0000;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #507DCD;
  cursor: pointer;
}
.qnavbtn a:link {
  font-size: 9px !important;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration:none;
}
.qnavbtn a:visited {
  font-size: 9px !important;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration:none;
}
.qnavbtn a:focus {
  font-size: 9px !important;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration:underline;
}
.qnavbtn a:hover {
  font-size: 9px !important;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration:none;
}
.qnavbtn a:active {
  font-size: 9px !important;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration:underline;
}