.alert {
 position:absolute;
 top:10px;
 left:0px;
 width:94%;
background:#FCE9C0;
background-position: 15px; 
border-top:2px solid #DBAC48;
border-bottom:2px solid #DBAC48;
padding: 15px 10px 85% 50px;
}

.formpre {
font-family:arial;
font-size: 1.1em;
}

#download_rules {
font-family: arial;
font-size: 13px;
font-weight: bold;
text-align: center
}

#download_rules_td {
font-family: arial;
font-size: 13px;
font-weight: bold;
text-align: center
}

.body2 {
font-family:arial;
font-size:12px;
}




/* Start of main css Pfsense */
/* Start of main css Pfsense */

@charset "utf-8";
.textstyle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	background-color: #666;
	color: #CCC;
}
.textstyle p2 a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #CCC;
}

.textstyle p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
}
.textstyle p2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCC;
}

/* Start of main css for table sort */
/* Start of main css for table sort */

table {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 9;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

#container {
	width: auto;
	margin: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}



/**************************************************************

	Sortable Table
	v 1.4

**************************************************************/



th {
	background-color: #eee;
	background: #eee url(/snort/images/icon-table-sort.png) no-repeat 2px 8px;
	padding: 4px 4px 4px 14px;
}

.allRow {
	background-color: #eee;
	padding: 4px;
}

tr.altRow {
	background-color: #fff;
}

.leftAlign {
	text-align: left;
}

.centerAlign {
	text-align: center;
}

.rightAlign {
	text-align: right;
}

.sortedASC {
	background: url(/snort/images/icon-table-sort-asc.png) no-repeat 2px 4px #eee;
}

.sortedDESC {
	background: url(/snort/images/icon-table-sort-desc.png) no-repeat 2px 10px #eee;
}

.tableHeaderOver {
	cursor: pointer;
	color: #354158;
}


tr.selected {
	background-color: 9999ff;
	color: #000000;
}

tr.over {
	background-color: #993333;
	color: #fff;
	cursor: pointer;
}

tr.hide {
	display: none;
}
/***************************/

.mainTableFilter {
	position: absolute;
	top: 0;
	left: -10px;
	width: auto;
}

.tableFilter {
	border: 1px solid #ccc;
	padding: 2px;
	margin: 5px 0 10px 0;
}

.tableFilter input {
	border: 1px solid #ccc;
}

.tableFilter select {
	border: 1px solid #ccc;
}

